# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtualenv / envs
.env
.venv
venv/
ENV/

# pytest cache
.pytest_cache/

# IDE
.vscode/
.idea/

# coverage
htmlcov/
.coverage
coverage.xml

# OS
.DS_Store
Thumbs.db
